atpublic==5.1
boto3==1.40.57
botocore==1.40.57
certifi==2025.10.5
clickhouse-connect==0.9.2
colorama==0.4.6
cramjam==2.11.0
distlib==0.3.8
dropbox==11.36.2
duckdb==1.4.1
fastparquet==2024.11.0
filelock==3.13.4
fsspec==2025.9.0
halo==0.0.31
ibis-framework==9.5.0
ibis-substrait==4.0.1
jdot==0.5
jmespath==1.0.1
jpype1==1.5.2
log-symbols==0.0.14
loguru==0.7.3
lz4==4.4.4
numpy==2.2.6
packaging==25.0
pandas==2.3.3
parquet==1.3.1
parquet_tools==0.2.16
parsy==2.1
platformdirs==4.2.0
ply==3.11
polars-runtime-32==1.34.0
protobuf==5.29.3
pyarrow==21.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
s3transfer==0.14.0
six==1.17.0
spinners==0.0.24
sqlglot==25.20.2
stone==3.3.3
substrait==0.23.0
substrait-tools==0.0.3
substrait-validator==0.1.3
tabulate==0.9.0
termcolor==2.5.0
thrift==0.16.0
thriftpy2==0.5.3
toolz==0.12.1
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.25.1
zstandard==0.25.0
